@import 'css/variables.module.scss';

.categoryLayout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: calc(94px + 40px);
  padding-right: calc(9% + 15px);
  padding-bottom: 10px;
  padding-left: calc(9% + 15px);

  .menu {
    flex-basis: 25%;
  }

  .content {
    flex-basis: 55%;
    padding-left: 40px;
    width: 50vw;
  }
}

@media screen and (max-width: $break-large) {
  .categoryLayout {

    .content {
      width: 58vw;
    }
  }
}

@media screen and (max-width: $break-small) {
  .categoryLayout {
    padding: 9%;
    padding-top: calc(9% + 64px);
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;

    .content {
      padding: 0;
      flex-basis: 100%;
      flex-grow: 1;
      width: 100%;
    }
  }
}
