@import './minireset.min.css';
@import './variables.module.scss';

body {
  /* font-family: "Open Sans",Arial,Helvetica,sans-serif;*/
  font-family: 'Roboto', sans-serif;
  color: $fontColor;
  line-height: 1.5;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
}
