.markdown {
  text-align: justify;
  letter-spacing: 0.1px;
  color: #555;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}

.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

.rfc-page pre {
  font-family: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #888;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #e467de;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #ffa834;
}

.hljs-string,
.hljs-doctag {
  color: #4dc514;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #e467de;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-attr {
  color: #75b2e6;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #ffd800;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

pre {
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 4px;
  overflow-x: auto;
  color: #FFF;
  padding: 8px 15px;
  font-family: "Source Code Pro","Monaco","Consolas","Courier New",monospace;
}

kbd {
  background-color: rgba(229, 187, 49, 0.09);
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #e5bb31;
  display: inline-block;
  font-family: "Source Code Pro","Monaco","Consolas","Courier New",monospace;
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  font-family: inherit;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
}

a {
  background: 0;
  border: 0;
  color: #e5bb31;
  display: inline;
  font-weight: 500;
  line-height: inherit;
  padding: 0;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #b7941f;
}


blockquote {
  background-color: rgba(229, 187, 49, 0.09);
  border-left: 3px solid #e5bb31;
  padding: 10px 15px;
  color: #222;
  margin-bottom: 20px;
}

blockquote p {
  margin-bottom: 0;
}
