$break-small: 415px;
$break-large: 1024px;

.categoryBlock {
  box-sizing: border-box;
  margin: 0 15px;
  color: #444;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 45px 40px 40px 40px;
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  -webkit-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;

  &:hover {
    color: #444;
    background-color: #FFFEEE;
    cursor: pointer;

    .catImgBlk {
      border: 8px solid #FFFEEE;
    }
  }

  h1 {
    font-weight: 300;
    font-weight: 300;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-top: 0;
  }

  p {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }

  .catImgBlk {
    border-radius: 50%;
    border: 8px solid #FFF;
    left: 50%;
    position: absolute;
    top: -2em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    background-color: #343434;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }
}

@media screen and (max-width: $break-small) {
  .categoryBlock {
    flex-basis: 100%;
    margin: 0 0 45px 0;
    padding: 40px 20px 20px 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
