@import 'css/variables.module.scss';

.categoryNav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;


  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-left: 2px solid #efefef;

    h3 {
      color: $baseColor;
      padding: 5px 12px;
      border-left: 2px solid $baseColor;
      margin-left: -2px;
    }

    .navList {
      display: flex;
      flex-direction: column;

      a {
        font-size: 14px;
        text-decoration: none;
        border-left: 2px solid transparent;
        color: #6d7d79;
        font-weight: 500;
        letter-spacing: 0.1px;
        line-height: 1;
        margin-bottom: 10px;
        margin-left: -2px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-top: 5px;

        &.active, &:hover {
          cursor: pointer;
          font-weight: 900;
          border-left: 2px solid #6d7d79;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
